﻿@model Ejercicio1Cliente.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un nuevo cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clientenombre" class="control-label"></label>
                <input asp-for="Clientenombre" class="form-control" />
                <span asp-validation-for="Clientenombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditocliente" class="control-label"></label>
                <input asp-for="Creditocliente" class="form-control" />
                <span asp-validation-for="Creditocliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edadcliente" class="control-label"></label>
                <input asp-for="Edadcliente" class="form-control" />
                <span asp-validation-for="Edadcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correocliente" class="control-label"></label>
                <input asp-for="Correocliente" class="form-control" />
                <span asp-validation-for="Correocliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista de empleados</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
