﻿@model Ejercicio1Cliente.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Seguro que quieres eliminar el cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clienteid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clienteid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientenombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientenombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditocliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditocliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edadcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edadcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correocliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correocliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista de clientes</a>
    </form>
</div>
