﻿@model Ejercicio1Cliente.Models.Cliente

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalle del Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clienteid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clienteid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientenombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientenombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditocliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditocliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edadcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edadcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correocliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correocliente)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Clienteid}) 
    <a asp-action="Index">Regresar a la lista de clientes</a>
</div>
