﻿@model IEnumerable<Ejercicio1Cliente.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Empleados</h1>

<p>
    <a asp-action="Create">Crear un nuevo cliente</a>
</p>

<form asp-action="Index" method="get">
    <input type="search" placeholder="Ingresa nombre o correo electronico" name="buscaCliente" 
           value=@ViewData["DetalleCliente"] style="width:500px;"/>
    <input type="submit" name="value" class="btn btn-primary"/>
    <a asp-action="Index">Ver todos</a>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clienteid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientenombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditocliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edadcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correocliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clienteid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientenombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditocliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edadcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correocliente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Clienteid }, new {@class = "btn btn-primary" }) 
                @Html.ActionLink("Detail", "Detail", new { id = item.Clienteid }, new { @class = "btn btn-success" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Clienteid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
