﻿@model IEnumerable<Core_Empleados.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Empleados</h1>

<p>
    <a asp-action="Create"><b>Crear un nuevo empleado</b></a>
</p>

<form asp-action="Index" method="get">
    <p>
        <!--Input para el cuadro de busqueda (tipo search), value es el contenido de la caja de texto,
            viewdata es unamanera de compartir info entre la vista y el controlodar, paso el valor de mi input de la vista
            al controlador en una variable GetEmployeesDetails-->
        <input type="search" placeholder="Ingresa el nombre o email del empleado" name="empSearch"
               value="@ViewData["GetEmployeesDetails"]" style="width:500px;" />
        <!--Boton para enviar la solictid-->
        <input type="submit" name="value" class="btn btn-primary" />
        <!--Recarga la pagina-->
        <a asp-action="Index">Ver todos</a>
    </p>
</form>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Empid }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Details", "Detail", new { id = item.Empid }, new { @class = "btn btn-success" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Empid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
